<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510473543471-6l2v77cibabc567css40id1gpcaipf66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510473543471-6l2v77cibabc567css40id1gpcaipf66</string>
	<key>API_KEY</key>
	<string>AIzaSyBDGDQJ9zAqkRbZ1RgSk6cMNMt4i9kiKK0</string>
	<key>GCM_SENDER_ID</key>
	<string>510473543471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trabalhoPdm</string>
	<key>PROJECT_ID</key>
	<string>olho-do-pai</string>
	<key>STORAGE_BUCKET</key>
	<string>olho-do-pai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510473543471:ios:87769097f20e96456a4bda</string>
</dict>
</plist>